
.details-section{
    padding-top: 2%;
}

.question-section{
    padding-top: 2%;
}

.question-card{
    padding-top: 1%;
}

.question-index{
    text-align: center;
    vertical-align: middle;
}

.question-action{
    text-align: center;
    vertical-align: middle;
}

.test-action{
    padding-top: 2%;
}

.test-action .action{
    text-align: center;
}

.test-action .left-action{
    text-align: right;
}

.test-action .right-action{
    text-align: left;
}

.label{
    padding-left: 2rem;
}

input{
    width: 90%;
}

.question-options input{
    width: 88%;
}

textarea{
    width: 90%;
}

select{
    width: 90%;
    padding: 1%;
}

option{
    padding: 1%;
}

.my-row{
    padding-bottom: 1%;
}