input{
    padding: 0.5%;
}

.inp{
    padding: 1%;
}

.mouse{
    cursor: pointer;
}

.register{
    padding-left: 20%;
    padding-right: 20%;
}

.register .card{
    padding: 5%;
}

.login-message{
    text-align: center;
}

.error-handling .success span{
    color: green;
}

.error-handling .failure span{
    color: red;
}