.filter-section{
    padding-top: 1%;
}

.filter-section input{
    width: 80%;
}

.filter-section svg{
    cursor: pointer;
    margin-left: 10px;
}

.header-section{
    padding-top: 2%;
}

.header-section .my-card{
    background-color: lightcoral;
    color: white;
    font-weight: bold;
}

.my-card{
    padding: 1%;
}

.my-card span{
    font-weight: bold;
    font-size: 15px;
}

.no-tests-available{
    height: 20rem;
    text-align: center;
}

.table-section svg{
    padding: 1%;
    cursor: pointer;
}

.action-right{
    text-align: right;
}

.my-card-text{
    padding-top: 7rem;
}

.my-card-footer{
    padding-top: 1rem;
}

.my-card-text span{
    color: brown;
    font-size: 25px;
}

.my-card-footer span{
    font-size: 15px;
}